@media (max-width: 600px) {
    body {
        margin: 0;
        font-size: 140%;
    }
    #results1 {
        display: none;
    }

    #container-area {
        width: 400px;
    }

    #title-display-1 {
        display: none;
    }
}

@media (max-width: 100000px) {
    #title-display-2 {
        display: none;
    }
}